html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
  background: rgb(58,138,180) !important;
  background: linear-gradient(71deg, rgba(58,138,180, 0.45/*0.4682247899159664*/) 0%, rgba(29,253,70,0) 30%, rgba(43,253,74,0) 70%, rgba(69,252,81,0.45/*0.4822303921568627*/) 100%) !important;
  background-repeat: no-repeat !important;
  background-size: 100%, 5000px !important;
  background-attachment: scroll, fixed !important;
}

p, a {
  font-size: 17px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

